
/* basic styles */


@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
    url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
    color: #000;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,body {
    font-family: 'ralewayregular';
    color: #757575;

}

.container {
    width: 960px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}


/* header styles */


header {
    background-color: #000;
    height: 40px;
}

header .branding {
    float: left;
}

header .branding a {
    color: #fff;
}

header .branding h6 {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 40px;
}

.colorIdentifier {
    color: #26c7a9;
}


header .mainNavigation {
    float: right;
}

header .mainNavigation ul {
    list-style-type: none;
}

header .mainNavigation ul li {
    float: left;
    margin: 0 20px 0 20px;
    line-height: 40px;
}

header .mainNavigation ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 15px 0 15px;
}

header .mainNavigation ul li a:hover {
    display: block;
    color: #000;
    background-color: #fafafa;
}


/* styles for focus section */


section.focus {
    background: -moz-linear-gradient(to bottom, #fafafa, #cbcfd4);
    background: linear-gradient(to bottom, #fafafa, #cbcfd4);
    padding-bottom: 20px;
    padding-top: 50px;
}

.focusImg {
    float: left;
    width: 480px;
    margin: 0 0 0 15px;
}

.focusImg img {
    width: 100%;
    height: auto;
}

.focusText {
    text-align: center;
    float: left;
    width: 440px;
    font-size: 14px;
    position: relative;
    top: 50px;
    right: 100px;
    color: #000;
}

.focusText p {
    padding: 15px 0px 25px 0px;
}

.focusText h2 {
    font-size: 2.4em;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

.focusText button {
    padding: 10px 40px 10px 40px;
    background-color: #26c7a9;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 15px;
}

.focus .container {
    position: relative;
}

.focus span.leftArrow {
    font-size: 110px;
    color: #26c7a9;
    position: absolute;
    top: 25%;
    left: 5px;

}

.focus span.rightArrow {
    font-size: 110px;
    color: #26c7a9;
    position: absolute;
    top: 25%;
    right: 10px;
}



/* styles for paragraphs section */


.paragraphs {
    padding-bottom: 50px;
    padding-top: 20px;
}

.grid1 {
    float: left;
    width: 313px;
    margin: 0 5px 0 0;
    position: relative;
}

.grid2 {
    float: left;
    width: 313px;
    margin: 0 5px 0 5px;
    position: relative;
}

.grid3 {
    float: left;
    width: 313px;
    margin: 0 0px 0 5px;
    position: relative;
}

.grid1 img, .grid2 img, .grid3 img {
    width: 100%;
    height: auto;
}

.headerBackground {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0 10px 0;
}

.paragraphsImages span {
    font-size: 13px;
    font-weight: bold;
    padding: 2px 40px 0 5px;
    border-bottom: 6px solid #26c7a9;
    display: inline-block;
    margin-left: 10px;
    color: #000;

}

.paragraphsText {
    text-align: left;
    border: 1px solid #cbcfd4;
    padding: 25px 15px 25px 15px;
    font-size: 14px;
}

.paragraphsText h3 {
    margin-bottom: 10px;
    text-transform: none;
    font-weight: bold;
}

.paragraphsText span {
    border-bottom: 6px solid #26c7a9;
    padding: 2px 40px 0 5px;
    color: #000;
}

.paragraphsText p {
    padding-top: 10px;
    margin-bottom: 10px;
}


/* styles for cennik section */


.cennik {
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

.cennik h2, h3 {
    text-transform: uppercase;
    font-weight: 100;
}

.cennik h2 {
    border-bottom: 6px solid #26c7a9;
    padding: 10px 220px 0 5px;
    margin-bottom: 30px;
    width: 300px;
    text-transform: uppercase;
    font-weight: 100;
}

.cennik .grid1 {
    border: 1px solid #cbcfd4;
    color: darkgrey;
    background-color: #fafafa;
    height: 450px;
}

.cennik .grid2 {
    border: 1px solid #cbcfd4;
    color: darkgrey;
    background-color: #fafafa;
    height: 450px;
}

.cennik .grid3 {
    border: 1px solid #cbcfd4;
    color: darkgrey;
    background-color: #fafafa;
    height: 450px;
}

.cennik .plan {
    position: relative;
    text-align: center;
}

.cennik .plan h3 {
    padding: 10px 0 10px 0;
    color: #26c7a9;
}

.plan button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    right: 50%;
    margin-right: -50px;
    padding: 2px 17px 2px 17px;
    background-color: #26c7a9;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;

}

.cennik .planFocus {
    display: inline-block;
    text-align: center;
    border: 2px solid #cbcfd4;
    width: 109px;
    height: 109px;
    border-radius: 50%;
    text-transform: uppercase;
    padding: 25px 0 0 3px;
    background-color: white;
    font-size: 19px;
    font-weight: bold;
    margin: 40px 0 40px 0;
}

.cennik .planFocus span {
    font-size: 0.5em;
}

.cennik .feature1 {
    background-color: #cbcfd4;
    padding: 10px;
}

.cennik .feature2 {
    background-color: #f0f0f0;
    padding: 10px;
}

.cennik .feature3 {
    background-color: #cbcfd4;
    padding: 10px;
}

.cennik .feature4 {
    background-color: #f0f0f0;
    padding: 10px;
}

.cennik .planActive {
    background-color: #26c7a9;
    position: relative;
    text-align: center;
}

.cennik .planActive h3 {
    padding: 10px 0 10px 0;
    color: #fff;

}

.cennik .feature1Active {
    background-color: #fff;
    padding: 10px;
}

.cennik .feature2Active {
    background-color: lightgrey;
    padding: 10px;
}

.cennik .feature3Active {
    background-color: #fff;
    padding: 10px;
}

.planActive button {
    position: absolute;
    bottom: 10px;
    width: 100px;
    right: 50%;
    margin-right: -50px;
    padding: 2px 17px 2px 17px;
    background-color: #fff;
    color: #26c7a9;
    border-radius: 7px;
    text-transform: uppercase;

}


/* styles for contact section */


.contact {
    padding-bottom: 50px;
    padding-top: 20px;
}

.contact h2 {
    border-bottom: 6px solid #26c7a9;
    padding: 10px 30px 0 5px;
    margin: 0 0 30px 0;
    width: 300px;
    text-transform: uppercase;
    font-weight: 100;
}

.contact .personalInfo {
    width: 590px;
    float: left;
}

.contact div.sendForm {
    width: 370px;
    float: left;
    padding: 0 0 0 30px ;
}

.contact .form input {
    display: block;
    width: 100%;
    padding: 15px 10px 15px 10px;
    margin: 0 0 20px 0;
    border: 1px solid #26c7a9;
    font-size: 25px;
}

.contact .form textarea {
    display: block;
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #26c7a9;
    font-size: 25px;
}

.contact .sendForm {
    text-align: center;
    position: relative;
    bottom: 15px;
}

.contact .sendForm img {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

.contact .sendForm label {
    font-size: 14px;
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
}

/*.contact .sendForm .checkbox input {
    position: relative;
    top: 20px;
    right: 142px;
}*/

.contact .sendForm button {
    margin: 30px 0 0 0;
    padding: 10px 100px 10px 100px;
    background-color: #26c7a9;
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    width: 100%;
}


/* styles for footer section */


.mainFooter {
    padding-bottom: 50px;
    padding-top: 20px;
    color: darkgrey;
}

.mainFooter p {
    float: left;
    padding: 15px 0 0 0;
    font-size: 14px;
    width: 590px;
}

.mainFooter .socials {
    float: left;
    width: 370px;
    padding: 0 0 0 30px;
}

.socialImages {
    float: left;
    vertical-align: top;
}

.logoText {
    float: right;
    text-transform: uppercase;
    padding: 15px 0 0 0;

}
